<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.vallieres.plugin.getrouteripaddress"
    version="1.0.0">

    <name>GetRouterIPAddress</name>
    <description>
    	This plugin allows your application to retrieve the router's IP adress.
	</description>

    <license>MIT</license>

    <keywords>local,ip,wifi,network,router</keywords>

	<engines>
		<engine name="cordova" version="&gt;=3.1.0" />
	</engines>

    <js-module src="www/getrouteripaddress.js" name="getrouteripaddress">
    	<clobbers target="window.getrouteripaddress" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="getrouteripaddress">
                <param name="ios-package" value="CDVGetRouterIPAddress" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVGetRouterIPAddress.h" />
        <source-file src="src/ios/CDVGetRouterIPAddress.m" />
        <header-file src="src/ios/RouterAndRoutes.h" />
        <source-file src="src/ios/RouterAndRoutes.m" />
    </platform>

    <!--platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="getrouteripaddress">
                <param name="android-package" value="com.vallieres.plugin.getrouteripaddress.getrouteripaddress"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

        <source-file src="src/android/networkinterface.java" target-dir="src/com/vallieres/plugin/getrouteripaddress" />
    </platform-->

</plugin>
